html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background-color: #24b8dd;
  font-family: 'Quicksand', sans-serif;
  color: #FFF;
  overflow-x: hidden; }

* {
  text-align: center; }

a {
  text-decoration: underline;
  color: #FFF; }

.header {
  text-decoration: underline; }

/*:::::::::::::::::::
::      Pages      ::
:::::::::::::::::::*/
#home-page {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; }
  #home-page #face {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100px;
    margin-bottom: 24vh;
    background: url("/img/vectorFace4.png") no-repeat;
    background-color: #24b8dd;
    z-index: -2;
    background-blend-mode: difference;
    background-size: 35vh;
    background-position: center bottom;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg); }

#projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 10vh; }
  #projects .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
  #projects .project, #projects img {
    width: 90%;
    max-width: 700px; }
  #projects * {
    display: block; }

#about-text {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #about-text p {
    width: 90%;
    max-width: 800px; }

/*:::::::::::::::::::
::      Navbar     ::
:::::::::::::::::::*/
.navbar {
  background-color: #24b8dd00 !important;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: +1; }

.navbar-toggler {
  border: none; }

.nav-item {
  background-color: #006786;
  line-height: 2.5em;
  text-align: center; }

#navbarNav {
  margin-top: 2vh;
  border-radius: 24px !important; }
  #navbarNav ul {
    border-radius: 24px !important;
    background-color: none; }
    #navbarNav ul a {
      color: white;
      text-decoration: none;
      font-size: 1.2em; }
    #navbarNav ul li:first-child {
      border-radius: 24px 24px 0 0 !important; }
    #navbarNav ul li:last-child {
      border-radius: 0px 0px 24px 24px !important; }

.navbar-toggled {
  background-color: #24b8dd !important; }

/*:::::::::::::::::::
::      Other      ::
:::::::::::::::::::*/
#LI-profile {
  background-image: url(/img/Linkedin.png);
  width: 60px;
  height: 60px;
  background-size: 60px;
  display: block; }

.mouse {
  opacity: 0;
  position: absolute;
  bottom: 5%;
  right: 48%;
  display: flex;
  justify-content: center; }

.mouse-icon {
  width: 25px;
  height: 45px;
  border: 2px solid #FFF;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  text-align: center; }

.mouse-wheel {
  height: 10px;
  margin: 6px auto;
  display: block;
  width: 10px;
  background-color: #FFF;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.5s ease infinite wheel-up-down; }

@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 5px;
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 25px;
    opacity: 0; } }

@-moz-keyframes wheel-up-down {
  0% {
    margin-top: 25px;
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 5px;
    opacity: 0; } }

@keyframes wheel-up-down {
  0% {
    margin-top: 25px;
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    margin-top: 5px;
    opacity: 0; } }

@media (max-width: 1000px) {
  #projects {
    grid-template-columns: 1fr; } }
