*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

html, body {
    height: 100%;
    // width: 100%;
    // overflow-x: hidden;
}

body {
    background-color: #24b8dd !important;
    color: white;
}

#pseudo-div {
    width: 100%;
    height: 100%;
}


.navbar {
    background-color: #24b8dd00 !important;
    // background-color: #24b8dd !important;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    // z-index: 1;
    // margin: 0; //! behövs för att hamburger listan ska få 100 width
    // padding: 0; //! behövs för att hamburger listan ska få 100 width

}

.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none;
}

.navbar-brand {
    font-size: medium;
}

.nav-item {
    background-color: #1a4550;
    line-height: 2.5em;
    text-align: center;
}

#navbarNav {
    margin-top: 2vh;
}

.navbar-toggled {
    background-color: #24b8dd !important;
}

#home-page {
    padding-top: 170px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin-bottom: 18vh;
    background-size: 200%;
    background-blend-mode: luminosity;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
    }
    h3 {
        text-align: center;
        font-size: 1.6em;
        margin-bottom: 12vh;
    }
    overflow: hidden;
}

#header-parent {
    height: 47.5px;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
    margin-top: 5vh;
    h1 {
        text-decoration: underline;
    }
}

#face {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    // margin-bottom: 28vh;
    margin-bottom: 12vh;
    background: url('/img/vectorFace4.png') no-repeat;
    background-color: #24b8dd;
    z-index: -2;
    margin-left: -25px;
    background-blend-mode: difference;
    background-size: 35vh;
    background-position: center bottom;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.main-tool-bar {
    margin-right: 0;
    text-align: center;
}

.main-tool-bar--scrolled {
    position: fixed;
    top: 200px;
    
}

.navbar-toggler-icon {
    position: relative;
    z-index: -1 !important;
}

#page-1-nav {
    // background-color: red;
    position: absolute;
    
    top: 12px;
    right: 125px;
     height: 300px;
     width: 300px;
     background-size: cover;
    background: url('/img/hamburger-menu-1.png');
    background-position: top right;
    opacity: 1 !important;
    z-index: 1 !important;
}

.project {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    *{
        width: 100%;
        // height: 110%;
    }
}

.header {
    margin-bottom: 3vh !important;
}

#projects-page {
    display: flex;
    flex-direction: column;
    
    *{
        display: flex;
        justify-content: center;
        margin-bottom: 1vh;
        text-align: center;
    }    
    span {
        width: 100%;
    }



    h3 {
        margin-top: 10vh;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    

}

.image-wrap {
    width: 100%;
    
    
    img {
        width: 80%;
    }
}

#about-page {
    // margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    * {

        text-align: center;
    }
    div {
        width: 80%;
        // width: 100%;
    }
}

#contact-page {
    margin-bottom: 30vh;
}






/* //TODO
1. Darkmode, ställa in särskilda färger IFALL man är i darkmode? UX baby.

*/