body {
    background-color: #50608d;
    padding-top: 30px;
}

#pseudo-div {
    width: 100%;
    height: 30px;
    background-color: red;
}

.navbar {
    background-color: #D45151 !important;
}

#purple-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(104.35deg, #1E1446 34.21%, rgba(255, 255, 255, 0) 34.21%);
}