$main-color: #24b8dd;
$secondary-color: #FFF;

html , body {
    height: 100%;
}

body {
    background-color: $main-color;
    font-family: 'Quicksand', sans-serif;
    color: $secondary-color;
    overflow-x: hidden;
    margin:0 auto;
}

* {
    text-align: center;
}

a {
    text-decoration: underline;
    color: $secondary-color;
}

.header {
    text-decoration: underline;
}


/*:::::::::::::::::::
::      Pages      ::
:::::::::::::::::::*/

#home-page {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    #face {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 100px; //Varför funkar det inte på 0????
        overflow: hidden;
        margin-bottom: 24vh;
        background: url('/img/vectorFace4.png') no-repeat;
        background-color: $main-color;
        z-index: -2;
        
        background-blend-mode: difference;
        background-size: 35vh;
        background-position: center bottom;
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 10vh;

    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .project , img {
        width: 90%;
        max-width: 700px;
    }
    * {
        display: block;
    }
}

#about-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        width: 90%;
        max-width: 800px;
    }
}

/*:::::::::::::::::::
::      Navbar     ::
:::::::::::::::::::*/

.navbar {
    background-color: #24b8dd00 !important;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +1;
}

.navbar-toggler {
    border: none;
}

// .navbar-toggler:focus {
//     outline: none; // "inga" har outline på focus på hamburger-ikonen. Kommenterat ut bara för att fylla tillgänglighetskravet.
// }

.nav-item {
    background-color: #006786;
    line-height: 2.5em;
    text-align: center;
}

#navbarNav {
    margin-top: 2vh;
    border-radius: 24px !important;
    
    ul {
        border-radius: 24px !important;
        background-color: none;

        a {
            color: white;
            text-decoration: none;
            font-size: 1.2em;
        }
        li:first-child {
            border-radius: 24px 24px 0 0 !important;
        }
        li:last-child {
            border-radius: 0px 0px 24px 24px !important;
        }
    }
}

.navbar-toggled {
    background-color: $main-color !important;
}


/*:::::::::::::::::::
::      Other      ::
:::::::::::::::::::*/

#LI-profile {
    background-image: url(/img/Linkedin.png);
    width: 60px;
    height: 60px;
    background-size: 60px;
    display: block;
}

.mouse{
    opacity: 0;
    position: absolute;
    bottom: 5%;
    // right: 50%;
    display: flex;
    justify-content: center;
}

.mouse-icon{
    width: 25px;
    height: 45px;
    border: 2px solid $secondary-color;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
}
.mouse-wheel{
    height: 10px;
    margin: 6px auto;
    display: block;
    width: 10px;
    background-color: $secondary-color;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.5s ease infinite wheel-up-down;
}

@-webkit-keyframes wheel-up-down {
	0% {
	    margin-top: 5px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 25px;
	    opacity: 0;
	}
}@-moz-keyframes wheel-up-down {
	0% {
	    margin-top: 25px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 5px;
	    opacity: 0;
	}
}@keyframes wheel-up-down {
	0% {
	    margin-top: 25px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 5px;
	    opacity: 0;
	}
}


@media (max-width: 1000px){
    #projects {
        grid-template-columns: 1fr;
    }
}