*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    // width: 100%;
    // overflow-x: hidden;
}

body {
    background-color: #24b8dd !important;
    color: white;
}

#pseudo-div {
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: #24b8dd00 !important;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none;
}

.navbar-brand {
    font-size: medium;
}
#home-page {
    padding-top: 170px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin-bottom: 18vh;
    background-size: 200%;
    background-blend-mode: luminosity;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1, h3 {
         font-family: 'Quicksand', sans-serif;
    }
    h1 {
        text-align: center;
    }
    h3 {
        text-align: center;
        font-size: 1.6em;
        margin-bottom: 12vh;
    }
    overflow: hidden;
}

#face {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    // margin-bottom: 28vh;
    margin-bottom: 12vh;
    background: url('/img/vectorFace4.png') no-repeat;
    background-color: #24b8dd;
    z-index: -2;
    margin-left: -25px;
    background-blend-mode: difference;
    background-size: 35vh;
    background-position: center bottom;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}



/* //TODO
1. Darkmode, st채lla in s채rskilda f채rger IFALL man 채r i darkmode? UX baby.

*/