$main-color: #24b8dd;
$secondary-color: #FFF;

@mixin flexCol {
    display: flex;
    flex-direction: column;
}

html , body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: $main-color;
    font-family: 'Quicksand', sans-serif;
    color: $secondary-color;
    overflow-x: hidden;
}

* {
    text-align: center;
}

a {
    text-decoration: underline;
    color: $secondary-color;
}

.header {
    text-decoration: underline;
    margin-bottom: 4vh;
}


/*:::::::::::::::::::
::      Pages      ::
:::::::::::::::::::*/


#home-page {
    padding-top: 170px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin-bottom: 18vh;
    // background-size: 200%;
    background-blend-mode: luminosity;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
    }
    h3 {
        text-align: center;
        font-size: 1.6em;
        margin-bottom: 12vh;
    }
    overflow: hidden;
}

#face {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; //Varför funkar det inte på 0????
    margin-bottom: 15vh;
    background: url('/img/vectorFace4.png') no-repeat;
    background-color: $main-color;
    z-index: -2;
    
    background-blend-mode: difference;
    background-size: 29vh;
    background-position: center bottom;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

#pseudo-div {
    width: 100%;
    height: 100%;
}

#home-text {
    min-width: 100%;
}

#projects-page {
    box-sizing: border-box;
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 10vh;

    .project {
        @include flexCol();
        align-items: center;
        width: 100%;
    }
    .project , img {
        width: 90%;
        max-width: 700px;
    }
    * {
        display: block;
    }

    .project-text {
        margin-top: 2vh;
    }

}
    #more-coming-soon {
        margin-top: 200px;
        background-color: rebeccapurple;
    }

#about-text {
    @include flexCol();
    align-items: center;

    p {
        width: 90%;
        max-width: 800px;
    }
}

/*:::::::::::::::::::
::      Navbar     ::
:::::::::::::::::::*/

.navbar {
    background-color: #24b8dd00 !important;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +1;
}

.navbar-toggler {
    border: none;
}

// .navbar-toggler:focus {
//     outline: none; // "inga" har outline på focus på hamburger-ikonen. Kommenterat ut bara för att fylla tillgänglighetskravet.
// }

.nav-item {
    background-color: #006786;
    line-height: 2.5em;
    text-align: center;
}

#navbarNav {
    margin-top: 2vh;
    border-radius: 24px !important;
    
    ul {
        border-radius: 24px !important;
        background-color: none;

        a {
            color: white;
            text-decoration: none;
            font-size: 1.2em;
        }
        li:first-child {
            border-radius: 24px 24px 0 0 !important;
        }
        li:last-child {
            border-radius: 0px 0px 24px 24px !important;
        }
    }
}

.navbar-toggled {
    background-color: $main-color !important;
}


/*:::::::::::::::::::
::      Other      ::
:::::::::::::::::::*/

#LI-profile {
    background-image: url(/img/Linkedin.png);
    width: 60px;
    height: 60px;
    background-size: 60px;
    display: block;
}

.mouse{
    opacity: 0;
    position: fixed;
    bottom: 15%;
    right: 48%;
    display: flex;
    justify-content: center;
}

.mouse-icon{
    width: 25px;
    height: 45px;
    border: 2px solid $secondary-color;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
}
.mouse-wheel{
    height: 10px;
    margin: 6px auto;
    display: block;
    width: 10px;
    background-color: $secondary-color;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.5s ease infinite wheel-up-down;
}

@-webkit-keyframes wheel-up-down {
	0% {
	    margin-top: 5px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 25px;
	    opacity: 0;
	}
}@-moz-keyframes wheel-up-down {
	0% {
	    margin-top: 25px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 5px;
	    opacity: 0;
	}
}@keyframes wheel-up-down {
	0% {
	    margin-top: 25px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 5px;
	    opacity: 0;
	}
}


@media (max-width: 1000px){
    #projects {
        grid-template-columns: 1fr;
    }
}