$main-color: #24b8dd;
$secondary-color: #FFF;

body {
    background-color: $main-color;
    
    font-family: 'Quicksand', sans-serif;
    color: $secondary-color;
    
}

* {
    text-align: center;
}

*:not(h1):not(h3) {
    font-size: 1.05em;
}

a {
    text-decoration: underline;
    color: $secondary-color;
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    grid-gap: 10vh;

    .project , img {
        // max-width: 600px;
        max-width: 90%;
    }

    * {
        display: block;
    }
}



@media (max-width: 1000px){
    #projects {
        grid-template-columns: 1fr;
    }
}

/*

@mixin zeroSides {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin font-small {
    
}

@mixin font-large {
    
}

$main-color: #24b8dd;
$secondary-color: #FFF;




*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

html, body {
    height: 100%;
}

body {
    background-color: #24b8dd !important;
    color: white;
}

div:not(#navbarNav):not(#mouse):not(.mouse-icon) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: white;
    text-decoration: underline;
}

#pseudo-div {
    width: 100%;
    height: 100%;
    margin-bottom: -60px;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #24b8dd;
}

.navbar {
    background-color: #24b8dd00 !important;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: +1;
}

.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none;
}

.navbar-brand {
    font-size: medium;
}

.nav-item {
    background-color: #006786;
    line-height: 2.5em;
    text-align: center;
}


#navbarNav {
    margin-top: 2vh;
    border-radius: 24px !important;
    
    ul {
        border-radius: 24px !important;
        
        background-color: none;

        a {
            color: white;
            text-decoration: none;
            font-size: 1.2em;
        }
        li:first-child {
            border-radius: 24px 24px 0 0 !important;
        }
        li:last-child {
            border-radius: 0px 0px 24px 24px !important;
        }
    }
}

.navbar-toggled {
    background-color: #24b8dd !important;
}

#home-page {
    padding-top: 170px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    margin-bottom: 18vh;
    background-size: 200%;
    background-blend-mode: luminosity;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        text-align: center;
    }
    h3 {
        text-align: center;
        font-size: 1.6em;
        margin-bottom: 12vh;
    }
    overflow: hidden;
}

.header-parent {
    height: 47.5px;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3vh;
    margin-top: 5vh;
    
    h1 {
        text-decoration: underline;
    }
}

#face {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-bottom: 12vh;
    background: url('/img/vectorFace4.png') no-repeat;
    background-color: #24b8dd;
    z-index: -2;
    margin-left: -25px;
    background-blend-mode: difference;
    background-size: 35vh;
    background-position: center bottom;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.main-tool-bar {
    margin-right: 0;
    text-align: center;
}

.main-tool-bar--scrolled {
    position: fixed;
    top: 200px;
    
}

.navbar-toggler-icon {
    position: relative;
    z-index: -1 !important;
}

#page-1-nav {
    position: absolute;
    top: 1px;
    right: 31.1px;
    height: 20px;
    width: 24px;
    background-position: top right;
    opacity: 0;
}

#page-2-nav {
    position: absolute;
    top: 17px;
    right: 31.1px;
    height: 20px;
    width: 24px;
    background-position: top right;
    opacity: 0;
}

#page-3-nav {
    position: absolute;
    top: 33px;
    right: 31.1px;
    height: 20px;
    width: 24px;
    background-position: top right;
    opacity: 0;
}

.project {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;

    *{
        width: 100%;
    }
}

.header {
    margin-bottom: 3vh !important;
}

#projects-page {
    display: flex;
    flex-direction: column;
    
    *{
        display: flex;
        justify-content: center;
        margin-bottom: 1vh;
        text-align: center;
    }    
    span {
        width: 100%;
    }
    h3 {
        margin-top: 10vh;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.image-wrap {
    width: 100%;

    img {
        width: 80%;
    }
}

#more-coming-soon {
    margin-top: 8vh;
}

#about-page {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    * {

        text-align: center;
    }
    div {
        width: 80%;
    }
}

#contact-page {
    margin-bottom: 30vh;
}

#LI-profile {
    background-image: url(/img/Linkedin.png);
    width: 60px;
    height: 60px;
    background-size: 60px;
}

.mouse{
    opacity: 0;
    display: flex;
    justify-content: center;

}.mouse-icon{
    width: 25px;
    height: 45px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    text-align: center;
}.mouse-wheel{
    height: 10px;
    margin: 6px auto;
    display: block;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.5s ease infinite wheel-up-down;
}

@-webkit-keyframes wheel-up-down {
	0% {
	    margin-top: 5px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 25px;
	    opacity: 0;
	}
}@-moz-keyframes wheel-up-down {
	0% {
	    margin-top: 25px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 5px;
	    opacity: 0;
	}
}@keyframes wheel-up-down {
	0% {
	    margin-top: 25px;
	    opacity: 0;
	}
	30% {
	    opacity: 1;
	}
	100% {
	    margin-top: 5px;
	    opacity: 0;
	}
}

// @media only screen and (max-width: 600px) {
    @media screen and (max-width: 600px) {
        body {
            background-color: lightblue;
        }
    }
    */
    
    /* //TODO
1. Testa darkmode
*/

