body {
    background-color: #50608d;
}

#pseudo-div {
    width: 100%;
    background-color: red;
}

.navbar {
    background-color: #D45151 !important;
}

#purple-div {
    padding-top: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(104.35deg, #1E1446 50%, rgba(255, 255, 255, 0) 34.21%);
    display: grid;
    place-content: center;
    h1 {
        float: left;
    }
}