

body {
    background-color: #D45151;
    color: white;
}

#pseudo-div {
    width: 100%;
    background-color: red;
}

.navbar {
    background-color: #D45151 !important;
    color: white;
}

#purple-div {
    padding-top: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(104.35deg, #1E1446 50%, rgba(255, 255, 255, 0) 50.1%);
    display: grid;
    place-content: center left;
    
    h1, h3 {
        margin-left: 25px;
        font-family: 'Josefin Sans', sans-serif;
        
    }
    h1 {
        // font-size: 2em;
    }
}

#face {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-right: 400px;
    background: url('/img/vectorFace.png') no-repeat;
    background-color: #D45151;
    z-index: -2;
    background-blend-mode: darken;
    background-size: 50vh;
    background-position: right;
}



/* //TODO
1. Darkmode, st채lla in s채rskilda f채rger IFALL man 채r i darkmode? UX baby.

*/