

body {
    background-color: #D45151;
    color: white;
}

#pseudo-div {
    width: 100%;
    background-color: red;
}

.navbar {
    background-color: #D45151 !important;
    color: white;
}

#purple-div {
    padding-top: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(104.35deg, #1E1446 50%, rgba(255, 255, 255, 0) 50.1%);
    display: grid;
    place-content: center left;
    
    h1, h3 {
        margin-left: 25px;
        font-family: 'Josefin Sans', sans-serif;
    }
}

#face {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;

    mix-blend-mode: darken;
    z-index: -1;
    img {
        margin-right: 2rem;
        width: 600px;
        justify-self: right;
        align-self: center;
    }
}



/* //TODO
1. Darkmode, st채lla in s채rskilda f채rger IFALL man 채r i darkmode? UX baby.

*/