

body {
    background-color: #D45151;
    color: white;
}

#pseudo-div {
    width: 100%;
    background-color: red;
}

.navbar {
    background-color: #D45151 !important;
    color: white;
}

.navbar-toggler-icon {
    // opacity: 1 !important;
}

.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    outline: none;
}

.navbar-brand {
    font-size: medium;
}
#purple-div {
    padding-top: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    // background: linear-gradient(97deg, #1E1446 50%, rgba(255, 255, 255, 0) 50.15%);
    display: grid;
    place-content: top left;
    
    h1, h3 {
        margin-top: 30px;
        margin-left: 35px;
        font-family: 'Josefin Sans', sans-serif;
        
    }
    h1 {
        // font-size: 2em;
    }
}

#face {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 15vh;
    background: url('/img/vectorFace.png') no-repeat;
    background-color: #D45151;
    z-index: -2;
    background-blend-mode: darken;
    background-size: 40vh;
    background-position: center bottom;
}



/* //TODO
1. Darkmode, st채lla in s채rskilda f채rger IFALL man 채r i darkmode? UX baby.

*/