body {
    background-color: #50608d;
    position: fixed;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #D45151 !important;
}

#purple-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    background: linear-gradient(104.35deg, #1E1446 34.21%, rgba(255, 255, 255, 0) 34.21%);
}