body {
    background-color: #D45151;
}

#pseudo-div {
    width: 100%;
    background-color: red;
}

.navbar {
    background-color: #D45151 !important;
}

#purple-div {
    padding-top: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(104.35deg, #1E1446 50%, rgba(255, 255, 255, 0) 50.1%);
    display: grid;
    place-content: center left;
    
    h1, h4 {
        margin-left: 20px;
    }
}

#face {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    mix-blend-mode: darken;
        
    img {
        width: 400px;
        display: flex;
        justify-self: right;
        align-self: center;
        // float: right;
    }
}



/* //TODO
1. Darkmode, st채lla in s채rskilda f채rger IFALL man 채r i darkmode? UX baby.

*/