body {
    background-color: #50608d;
    position: fixed;
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #D45151 !important;
}

#purple-div {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    width: 30%;
    height: 100%;
    top: 40%;
    
}